body{
    background-image: url(2.jpeg);
    background-size: cover;
}

#password{
    margin: 20px auto;
    width:  85%;
    padding: 5px 5px 5px 10px;
    border-radius: 3px;
}

.kelas{
    background:rgba(177, 167, 167, 0.4);
    border-radius:3px;
    width: 300px;
    margin: 150px auto;
    padding: 20px;
    height: 100%;
}

.form h1{
    color: rgb(80, 25, 25);
    text-align: center;
}


#nama{
    width: 85%;
    padding: 5px 5px 5px 10px;
    margin: 20px auto;
    border-radius: 3px;
}
#btnSimpan {
    width: 40%;
    height: 30%;
    border-radius: 5px;
    color: white;
    background: magenta;
    padding: 2px 2px 2px 4px;
}

#logo{
    text-align: center;
}
.hm{
    text-align: center;
}
